useDynLib(modSaRa2, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

export(CNVcluster)
export(CNVout)
export(Likeli.single)
export(QuanNorm)
export(SARA)
export(SARAp)
export(eCN)
export(estimateSigma)
export(fInverse)
export(gausianMixture)
export(getOneBIC)
export(localDiagnostic)
export(localMax)
export(modifiedSaRa)
export(multiSaRa)
export(smooth)